
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

/* ------------------------- */
/* Colors: Light / Dark mode */
/* ------------------------- */

/* Light mode */
@media (prefers-color-scheme: light) {
    body {
        background-color: rgb(230, 230, 230);
        color: black;
    }
    a:link      { color: #005ae2; }
    a:visited   { color: #005ae2; }
    a:hover     { color: #005ae2; }
    a:active    { color: #005ae2; }
    .heart-light-mode { display: inherit; }
    .heart-dark-mode  { display: none; }
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
    body {
        background-color: #0d1117;
        color: white;
    }
    a:link      { color: #5b9af8; }
    a:visited   { color: #5b9af8; }
    a:hover     { color: #5b9af8; }
    a:active    { color: #5b9af8; }
    .heart-light-mode { display: none; }
    .heart-dark-mode  { display: inherit; }
}

/* ------------------------- */
/* Layout */
/* ------------------------- */

body {
    font-family: 'Roboto Slab', serif;
    text-align: center;
}

main > h1 {
    font-weight: 300;
    font-size: 42pt;
    margin-top: 50pt;
}

.left-balance {
    width: 50%;
    text-align: end;
}

.right-balance {
    width: 50%;
    text-align: start;
    position: relative;
    left: 50%;
}

main > ul {
    font-family: 'Roboto Mono', monospace;
    font-size: 14pt;
    list-style-type: circle;
}

footer {
    opacity: 0.4;
}

footer > hr {
    width: 6pt;
    margin-top: 60pt;
}

footer > .heart {
    padding-top: 10pt;
}